<a *ngIf="suggestion"
   class="my-5 mx-auto  items-center bg-white border border-gray-200 rounded-lg shadow ">
  <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
       [src]="suggestion.imagePath" alt=""> -->
  <div class="flex flex-col justify-between p-4 leading-normal bg-gray-300 rounded-2xl w-96 break-words mx-auto">
    <h5 id="restaurant-name" class="mb-2 text-lg font-bold tracking-tight text-gray-900">{{suggestion.restaurant}}</h5>
    <p id="suggested-by" class="mb-3 font-normal text-gray-700">Suggested By: {{suggestion.suggestedBy}}</p>
  </div>
</a>


