<nav class="bg-white shadow-lg">
  <div class="px-4 max-w-6xl mx-auto">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <a href="#" class="flex items-center py-4 px-2" >
          <app-logo class="h-8 w-9"></app-logo>
          <span class="text-gray-500 font-semibold text-lg">Lunch Bunch</span>
        </a>
      </div>
      <div class="flex space-x-2">
        <button *ngIf="!isAuthenticated" routerLink="/auth" class="button-primary">Register</button>
        <button *ngIf="isAuthenticated" routerLink="/session/create" class="button-primary">Create Lunch Plan</button>
        <button *ngIf="isAuthenticated" (click)="logout()" class="button-danger">Logout</button>
      </div>
    </div>
  </div>
</nav>
