<nav class="bg-white shadow-lg">
  <div class="px-4 max-w-6xl mx-auto">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <a href="#" class="flex items-center py-4 px-2" >
          <app-logo class="h-8 w-9"></app-logo>
          <span class="text-gray-500 font-semibold text-lg">Lunch Bunch</span>
        </a>
      </div>
      <div class="flex space-x-2">
        <button *ngIf="!isAuthenticated" routerLink="/auth" class="bg-blue-600 text-white p-3 rounded-md m-2 shadow-xl hover:bg-blue-500 transition duration-300">Register</button>
        <button *ngIf="isAuthenticated" routerLink="/session/create" class="bg-blue-600 text-white p-3 rounded-md m-2 shadow-xl hover:bg-blue-500 transition duration-300">Create Lunch Plan</button>
      </div>
    </div>
  </div>
</nav>
